@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&display=swap');

.main-bg{
  /* background-color: aquamarine; */
  background: url('https://img.freepik.com/premium-photo/half-black-white-triangle-background_146508-851.jpg?size=626&ext=jpg') center/cover no-repeat;;
  height: 100vh;
  width: 100%;
}